{% load static %}
<!-- About Section Starts -->
<section id="about">
    <!-- Main Heading Starts -->
    <div class="container page-title text-center">
        <h2 class="text-center">about <span>me</span></h2>
        <span class="title-head-subtitle">I design and code beautiful things, and I love what I do.</span>
    </div>
    <!-- Main Heading Ends -->
    <div class="container infos">
        <div class="row personal-info">
            <!-- Personal Infos Starts -->
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="image-container">
                    <img class="img-fluid d-block" src="{{ info.image.url }}" alt=""/>
                </div>
                <p class="d-block d-md-none">I'm a Freelance UI/UX Designer and Developer based in London,
                    England. I strives to build immersive and beautiful web applications through carefully
                    crafted code and user-centric design.</p>
            </div>
            <div class="row col-xl-6 col-lg-6 col-md-12">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <ul class="list-1">
                        <li>
                            <h6><span class="font-weight-600">First Name</span>{{ info.first_name }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Last Name</span>{{ info.last_name }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Birthdate</span>{{ info.birthdate }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Nationality</span>{{ info.nationality }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Experience</span>{{ info.experience }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Address</span>{{ info.address }}</h6>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <ul class="list-2">
                        <li>
                            <h6><span class="font-weight-600">Freelance</span>{{ info.freelance }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Langages</span>{{ info.languages }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Phone</span>{{ info.phone }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Email</span>{{ info.email }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Telegram</span>{{ info.telegram }}</h6>
                        </li>
                        <li>
                            <h6><span class="font-weight-600">Instagram</span>{{ info.instagram }}</h6>
                        </li>
                    </ul>
                </div>
                <div class="col-12 resume-btn-container">
                    <a href="{{ info.file.url }}" download class="btn btn-resume"><span><i class="fa fa-download"></i>download my cv</span></a>
                </div>
            </div>
            <!-- Personal Infos Ends -->
        </div>
    </div>
    <!-- Download CV Starts -->
    <div class="container col-12 mx-auto text-center">
        <hr class="about-section"/>
    </div>
    <!-- Download CV Ends -->
    <!-- Resume Starts -->
    <div class="resume-container">
        <div class="container">
            <div class="row">
                <!-- Experience Starts -->
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <h2 class="font-weight-600 uppercase title-section">experience</h2>
                    <div class="resume-items">
                        {% for i in info.experience_about.all %}
                            <!-- Item Starts -->
                            <div class="item">
                                <span class="bullet"></span>
                                <div class="card">
                                    <div class="card-header">
                                            <span class="year"><i class="fa fa-calendar"></i><i
                                                    class="fa fa-caret-right"></i>{{ i.date }}</span>
                                        <span class="d-block font-weight-400 uppercase">
												{{ i.title }}
												<span class="separator"></span>
                                                <span class="font-weight-700"></span>
                                                </span>
                                    </div>
                                    <div class="card-body">
                                        <p>{{ i.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Item Ends -->
                        {% endfor %}
                    </div>

                </div>
                <!-- Experience Ends -->
                <!-- Education Starts -->
                <div class="col-xl-6 col-lg-6 col-md-6 skills-container">
                    <h2 class="font-weight-600 uppercase title-section">Education</h2>
                    <div class="resume-items">
                        {% for i in info.education_about.all %}
                            <!-- Item Starts -->
                            <div class="item">
                                <span class="bullet"></span>
                                <div class="card">
                                    <div class="card-header">
                                            <span class="year"><i class="fa fa-calendar"></i><i
                                                    class="fa fa-caret-right"></i>{{ i.date }}</span>
                                        <span class="d-block font-weight-400 uppercase">
												{{ i.title }}
												<span class="separator"></span>
                                                <span class="font-weight-700"></span>
                                                </span>
                                    </div>
                                    <div class="card-body">
                                        <p>{{ i.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Item Ends -->
                        {% endfor %}
                    </div>
                </div>
                <!-- Education Ends -->
            </div>
            <!-- Skills Starts -->
            <div class="row">
                <!-- Skill Bar Starts -->
                <div class="col-12">
                    <h2 class="font-weight-600 uppercase title-section skills-title">skills</h2>
                </div>
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">html</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="40" style="width: 80%;"></span>
                        <span class="percent" style="right: calc(20% - 21px);">40%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">javascript</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="60" style="width: 60%;"></span>
                        <span class="percent" style="right: calc(40% - 21px);">60%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">css</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="75" style="width: 75%;"></span>
                        <span class="percent" style="right: calc(25% - 21px);">75%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">jquery</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="65" style="width: 65%;"></span>
                        <span class="percent" style="right: calc(35% - 21px);">65%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">wordpress</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="90" style="width: 90%;"></span>
                        <span class="percent" style="right: calc(10% - 21px);">90%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">angular js</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="85" style="width: 85%;"></span>
                        <span class="percent" style="right: calc(15% - 21px);">85%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">illustrator</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="60" style="width: 60%;"></span>
                        <span class="percent" style="right: calc(40% - 21px);">60%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">after effects</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="75" style="width: 75%;"></span>
                        <span class="percent" style="right: calc(25% - 21px);">75%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->

                <!-- Skill Bar Starts -->
                <div class="col-12 col-sm-6 col-md-4">
                    <span class="skill-text">photoshop</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="80" style="width: 80%;"></span>
                        <span class="percent" style="right: calc(20% - 21px);">80%<div
                                class="arrow"></div></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
            </div>
            <!-- Skills Starts -->
        </div>

        <!-- Resume Ends -->
    </div>
</section>
<!-- About Section Ends -->