{% load static %}
<!-- Blog Section Starts -->
<section id="blog">
    <div class="container page-title text-center">
        <h2 class="text-center">latest <span>posts</span></h2>
        <span class="title-head-subtitle">tips, insights, and best practices about web design and development</span>
    </div>
    <div class="container">
        <div class="row">
            {% for blog in blogs %}
                <!-- Article Starts -->
                <div class="col-12 col-sm-6">
                    <article>
                        <!-- Figure Starts -->
                        <figure class="blog-figure">
                            <a href="{% url 'main:blogdetail_url' blog.id %}">
                                <img class="img-fluid" src="{{ blog.image.url }}" alt="">
                            </a>
                            <div class="post-date"><span>{{ blog.date|date:"d" }}</span>
                                <span>{{ blog.date|date:"M" }}</span>
                            </div>
                        </figure>
                        <!-- Figure Ends -->
                        <a href="{% url 'main:blogdetail_url' blog.id %}">
                            <h4>{{ blog.title }}</h4>
                        </a>
                        <!-- Excerpt Starts -->
                        <div class="blog-excerpt">
                            <p>{{ blog.text }}</p>
                            <a href="{% url 'main:blogdetail_url' blog.id %}"
                               class="btn readmore"><span>Read more</span></a>
                        </div>
                        <!-- Excerpt Ends -->
                    </article>
                </div>
                <!-- Article Ends -->
            {% endfor %}
            <!-- Link To Blog Starts -->
            <div class="col-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 allposts"><a href="{% url 'main:blog_url' %}"
                                                                                    class="btn btn-secondary"><span><i
                    class="fa fa-comments"></i>All posts</span></a>
            </div>
            <!-- Link To Blog Ends -->
        </div>
    </div>
</section>
<!-- Blog Section Ends -->