{% load static %}
<!-- Portfolio Section Starts -->
<section id="work">
    <div class="portfolio-container">
        <!-- Main Heading Starts -->
        <div class="container page-title text-center">
            <h2 class="text-center">my <span>portfolio</span></h2>
            <span class="title-head-subtitle">a few recent design and coding projects. Want to see more? Email me.</span>
        </div>
        <!-- Main Heading Ends -->
        <div class="portfolio-section">
            <div class="container cd-container">
                <div>
                    <!-- Portfolio Items Starts -->
                    <ul class="row" id="portfolio-items">
                        {% for portfolio in portfolios %}
                            <!-- Portfolio Item Starts -->
                            <li class="col-12 col-md-6 col-lg-4">
                                <a href="index-dark.html#0" data-type="project-1">
                                    <img src="{{ portfolio.image.url }}" alt="Project"
                                         class="img-fluid">
                                    <div><span>{{ portfolio.title }}</span>
                                    </div>
                                </a>
                            </li>
                            <!-- Portfolio Item Ends -->
                        {% endfor %}

                    </ul>
                    <!-- Portfolio Items Ends -->
                </div>
            </div>
        </div>
        <!-- PORTFOLIO OVERLAY STARTS -->
        <div class="portfolio-overlay"></div>
        <!-- PORTFOLIO OVERLAY ENDS -->
    </div>
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-1">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <img src="{% static 'img/projects/project-1.jpg' %}" alt="Project Image">
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Image Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">{{ portfolio.project }}</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">{{ portfolio.client }}</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">{{ portfolio.duration }}</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">{{ portfolio.technologies }}</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">{{ portfolio.budjet }}</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-2">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <div class="videocontainer">
                <iframe class="youtube-video"
                        src="https://www.youtube.com/embed/7e90gBu4pas?enablejsapi=1&version=3&playerapiid=ytplayer"
                        allowfullscreen></iframe>
            </div>
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Youtube Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-3">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <div id="slider" class="carousel slide portfolio-slider" data-ride="carousel">
                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/projects/project-8.jpg' %}" alt="slide 1">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/projects/project-7.jpg' %}" alt="slide 2">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/projects/project-5.jpg' %}" alt="slide 3">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="index-dark.html#slider" data-slide="prev"> <span
                        class="fa fa-chevron-left carousel-controls"></span>
                </a>
                <a class="carousel-control-next" href="index-dark.html#slider" data-slide="next"> <span
                        class="fa fa-chevron-right carousel-controls"></span>
                </a>
            </div>
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Slider Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->

    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-4">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <video id="video" class="responsive-video" controls poster="{% static 'img/projects/project-6.jpg' %}">
                <source src="{% static 'img/projects/video.mp4' %}" type="video/mp4">
            </video>
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Video Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-5">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <img src="{% static 'img/projects/project-5.jpg' %}" alt="Project Image">
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Image Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-6">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <img src="{% static 'img/projects/project-4.jpg' %}" alt="Project Image">
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Image Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-7">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <img src="{% static 'img/projects/project-7.jpg' %}" alt="Project Image">
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Image Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-8">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <img src="{% static 'img/projects/project-3.jpg' %}" alt="Project Image">
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Image Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <!-- Portfolio Project Content Starts -->
    <div class="project-info-container project-9">
        <!-- Main Content Starts -->
        <div class="project-info-main-content">
            <img src="{% static 'img/projects/project-9.jpg' %}" alt="Project Image">
        </div>
        <!-- Main Content Ends -->
        <!-- Project Details Starts -->
        <div class="projects-info row">
            <div class="col-12 col-sm-6 p-none">
                <h3 class="font-weight-600 uppercase">Image Format</h3>
                <ul class="project-details">
                    <li><i class="fa fa-file-text-o"></i><span
                            class="font-weight-400 project-label"> Project </span>: <span
                            class="font-weight-600 uppercase">Website</span>
                    </li>
                    <li><i class="fa fa-user-o"></i><span class="font-weight-400 project-label"> Client </span>:
                        <span class="font-weight-600 uppercase">Envato</span>
                    </li>
                    <li><i class="fa fa-hourglass-o"></i><span
                            class="font-weight-400 project-label"> Duration </span>: <span
                            class="font-weight-600 uppercase">3 months</span>
                    </li>
                    <li><i class="fa fa-code"></i> <span
                            class="font-weight-400 project-label"> Technologies</span> : <span
                            class="font-weight-600 uppercase">html, javascript</span>
                    </li>
                    <li><i class="fa fa-money"></i> <span class="font-weight-400 project-label"> Budget</span> :
                        <span class="font-weight-600 uppercase">1550 USD</span>
                    </li>
                </ul>
                <a href="index-dark.html#" class="btn"><span><i
                        class="fa fa-external-link"></i>preview</span></a>
            </div>
            <div class="col-6 p-none text-right">
                <a href="index-dark.html#" class="btn btn-secondary close-project"><span><i
                        class="fa fa-close"></i>Close</span></a>
            </div>
        </div>
        <!-- Project Details Ends -->
    </div>
    <!-- Portfolio Project Content Ends -->
    <span class="back-mobile close-project"><i class="fa fa-arrow-left"></i></span>
</section>
<!-- Portfolio Section Ends -->