{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <!-- Main Content Starts -->
    <main id="main">
        <!-- Back To Home Starts [ONLY MOBILE] -->
        <span class="back-mobile" id="back-mobile"><i class="fa fa-arrow-left"></i></span>
        <!-- Back To Home Ends [ONLY MOBILE] -->

        {% include 'pages/home_include/home_include.html' %}

        {% include 'pages/home_include/about.html' %}

        {% include 'pages/home_include/work.html' %}

        {% include 'pages/home_include/contact.html' %}

        {% include 'pages/home_include/blog.html' %}
    </main>
{% endblock %}